:root {
  --primary-color: white;
  --primary-color-hover: lightgrey;
  --secondary-color: black;
  --secondary-color-hover: darkgrey;
  --contrast-color: #EFBF04;
  --contrast-color-hover: #fdc200;
}

html {
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.navbar-container {
  background-color: var(--primary-color)
}

.nav-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.nav-item {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-bottom: 5px;
}



.nav-item a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 0.2s ease-in-out;
}

.nav-item a:hover, 
.nav-item a:active {
  color: var(--contrast-color)
}

.footer {
  position: absolute;
  justify-content: center;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  text-align: center;
}




