.navbar-container {
  background-color: white;
}

.nav-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.nav-item {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}


.footer {
  position: absolute;
  justify-content: center;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  text-align: center;
}
