<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Berkanan</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Website.styles.css" asp-append-version="true" />
</head>
<body>

    <!-- Navbar -->
    <header>
        <nav>
            <div class="navbar">
                <a  asp-area="" asp-page="/Index/Index" class="logo-container">
                    <svg version="1.1" id="Logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 100 100" xml:space="preserve">
                        <path fill="#d4af37" opacity="1.000000" stroke="none" 
                            d="
                            M408.581573,545.001831 
                            C408.429260,520.858093 407.657776,497.196869 408.297394,473.573853 
                            C408.955780,449.256714 408.247437,424.957489 408.329803,400.656067 
                            C408.409302,377.190979 408.091858,353.701813 408.296875,330.234619 
                            C408.454010,312.248688 408.325836,294.258301 408.684784,276.274567 
                            C408.827881,269.105469 415.000854,264.989197 421.657166,267.306458 
                            C429.775604,270.132690 435.541931,276.356079 442.075500,281.431213 
                            C492.051453,320.251556 541.971924,359.143311 591.890564,398.037354 
                            C599.114197,403.665649 606.302490,409.343567 613.385315,415.147278 
                            C619.671814,420.298492 620.112000,427.841919 620.903198,435.104126 
                            C621.116272,437.060028 619.143127,438.198090 617.731995,439.351715 
                            C594.136108,458.641632 570.529480,477.918274 546.933655,497.208252 
                            C544.097534,499.526855 541.244446,501.831818 538.517334,504.274933 
                            C534.541138,507.837006 534.569824,509.095734 538.692810,512.479065 
                            C547.318176,519.557068 555.975769,526.596191 564.651550,533.612427 
                            C581.614441,547.330505 598.534546,561.103149 615.626038,574.659485 
                            C619.261963,577.543396 621.571716,580.670715 621.915833,585.383728 
                            C622.220581,589.556641 622.073303,593.690247 621.941833,597.853455 
                            C621.790039,602.661133 619.331604,605.852173 615.702820,608.627869 
                            C597.315430,622.692322 578.941833,636.775635 560.650391,650.964478 
                            C517.093262,684.752136 473.551697,718.560242 430.117157,752.505066 
                            C426.433960,755.383423 422.372314,756.973938 418.145508,758.387695 
                            C414.437866,759.627869 408.750275,754.584961 408.681274,749.745117 
                            C408.432343,732.273254 408.329773,714.798523 408.298798,697.324585 
                            C408.263641,677.517639 408.093903,657.705200 408.475769,637.904663 
                            C408.947815,613.428406 407.391815,588.962036 408.426605,564.488037 
                            C408.693817,558.168152 408.541626,551.830566 408.581573,545.001831 
                            M457.363800,600.499878 
                            C457.361786,619.989319 457.341522,639.478882 457.386780,658.968201 
                            C457.391174,660.862000 456.607178,663.328918 458.924164,664.324707 
                            C461.110291,665.264343 462.621338,663.245544 464.127502,662.068298 
                            C492.727081,639.714417 521.303223,617.330505 549.855713,594.916504 
                            C554.749268,591.075073 554.787659,589.166443 549.932312,585.197815 
                            C530.983459,569.709656 511.978333,554.290466 492.990479,538.850037 
                            C483.559113,531.180786 474.038757,523.618225 464.717926,515.817017 
                            C459.937347,511.815948 459.085144,507.887115 461.237518,502.984375 
                            C462.495544,500.118774 464.932312,498.334412 467.273071,496.454254 
                            C492.455139,476.227386 517.656006,456.023682 542.787598,435.734283 
                            C548.653198,430.998749 548.620605,429.172974 542.875122,424.607941 
                            C516.150940,403.374603 489.387085,382.191223 462.633789,360.994598 
                            C461.613953,360.186615 460.686096,359.086609 459.204346,359.610260 
                            C458.080353,360.169098 457.797699,361.235474 457.784943,362.174316 
                            C456.708984,441.281006 457.521729,520.391235 457.363800,600.499878 z
                            "/>
                    </svg>
                </a>
                
                <div >
                    <ul >
                        <li >
                            <a  asp-area="" asp-page="/Index/Index">Home</a>
                        </li>
                        <li >
                            <a  asp-area="" asp-page="/Portfolio/Index">Portfolio</a>
                        </li>
                        <li >
                            <a  asp-area="" asp-page="/About/Index">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main content (pages) -->
    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div >
            &copy; Berkanan 
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
