<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Berkanan</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/Website.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <!-- Navbar -->
    <header>
        <nav>
            <div class="navbar-container">
                <!-- Logo SVG -->

                <ul class="nav-item-container">
                    <li class="nav-item">
                        <a asp-area="" asp-page="/Index/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-page="/Portfolio/Index">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-page="/About/Index">About me</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Main content (pages) -->
    <div >
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer">
            &copy; Berkanan 
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
